<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Not Found</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <link rel="stylesheet" href="/bootstrap.css">
    <base href="/">
</head>

<body class="container-fluid ps-0"
    style="background-image: url('/bg-404.jpeg'); background-size: cover; background-repeat: no-repeat;">
    <div class="card vh-100 vw-100" style="opacity: 0.6;">
        <div class="card-body position-absolute top-50 start-50 translate-middle">
            <h1 style="opacity: 1 !important;">Seems you are lost</h1>
            <p style="opacity: 1 !important;"><a href="/" style="color: inherit;">Click Here</a> to go back to the
                currency
                converter.</p>
        </div>
    </div>
</body>

<script src="/bootstrap.bundle.js"></script>

</html>